.oferta_top{
	margin-left: 19px;
	padding: 20px 0;
}
.offerta,
.offerta1,
.offerta2,
.offerta3,
.offerta4
{
    padding: 0 0 0 25px;
    float: left;
    cursor: pointer;

}


 


.l-get-form-btn, 
#top_descriptin button.contactus-button, 
#top_descriptin .input-append input, 
.button.wishlist {
	color: #000000;
	padding: 0px 38px 0 5px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	text-transform: uppercase;
	height: auto;
	width: auto;
	box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	/* border-radius: 0px; */
	cursor: pointer;
	/* text-shadow: none; */
	/* background: none; */
	/* box-shadow: none; */
	transition: color .3s;
}
.l-get-form-btn:hover , 
#top_descriptin button.contactus-button:hover , 
#top_descriptin .input-append input:hover , 
.button.wishlist:hover  {
	color:#be1e2d
}















